body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    border: 1px solid black;
    display: flex;
    flex: 1;
}

.column {
    border: 1px solid black;
    display: flex;
    flex:1;
}

.header {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    margin-top: 20px;
}

.input {
    width: 50px;
}